.navbar-inverse .navbar-inner {
	background-color: #459C15;
	background-image: none;
	background-repeat: none;
	border: 0px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #ffffff;
    text-shadow: none; /*0 -1px 0 rgba(0, 0, 0, 0.25);*/
    text-transform: uppercase;
}


.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #95c326;
    color: #FFFFFF;
}

.hero-unit h1, .hero-unit a {
    color: #7d7d7d;
}

.hero-unit p {
    color: #666;
    font-size: 13px;
    line-height: 18px;
}

.hero-unit a {
    font-weight: bold;
}

footer {
    background-color: #eaeaea;
}

header .logo {
    padding-bottom: 20px;
}

.thumbnails a {
    text-align: center;
    color: #7d7d7d;
    text-transform: uppercase;
}

.thumbnails a:hover {
    color: #459c15;
    text-decoration: none;
}

.thumbnails li, .thumbnails .span2 {
    margin-left: 0px;
}

.span12 .thumbnails {
    margin-left: 80px;
}

.span12 {
    padding-top: 30px;
}

li a figure {
    margin: 10px;
}

li a figure figcaption {
    margin-top: 15px;
    font-weight: bold;
}

.hero-unit h1 {
    color: #7d7d7d;
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1;
    margin: -20px 0 20px 2.5641%;
}

.hero-unit article {
    line-height: 20px;
}

/*.row-fluid .span12 {*/
    /*border-bottom: 1px solid #BBB;*/
    /*border-top: 2px solid #EEE;*/

/*}*/

/*.row-fluid:last-of-type .span12 { border-bottom: none; }*/
/*.row-fluid:first-child .span12, .row-fluid div#Universidad { border-top: none; }*/

.logo img {
    margin-top: 10px;
}

img.tabnews {
    float: left;
    position: absolute;
    margin: -68px 0 0 -40px;
}

.hero-content {
    padding-left: 30px;
}

hr {
    background: -moz-linear-gradient(left,  rgba(153,153,153,0) 0%, rgba(153,153,153,1) 13%, rgba(153,153,153,1) 47%, rgba(153,153,153,1) 85%, rgba(153,153,153,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(153,153,153,0)), color-stop(13%,rgba(153,153,153,1)), color-stop(47%,rgba(153,153,153,1)), color-stop(85%,rgba(153,153,153,1)), color-stop(100%,rgba(153,153,153,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(153,153,153,0) 0%,rgba(153,153,153,1) 13%,rgba(153,153,153,1) 47%,rgba(153,153,153,1) 85%,rgba(153,153,153,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(153,153,153,0) 0%,rgba(153,153,153,1) 13%,rgba(153,153,153,1) 47%,rgba(153,153,153,1) 85%,rgba(153,153,153,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(153,153,153,0) 0%,rgba(153,153,153,1) 13%,rgba(153,153,153,1) 47%,rgba(153,153,153,1) 85%,rgba(153,153,153,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(153,153,153,0) 0%,rgba(153,153,153,1) 13%,rgba(153,153,153,1) 47%,rgba(153,153,153,1) 85%,rgba(153,153,153,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#00999999',GradientType=1 ); /* IE6-9 */
}

