@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('/fonts/MyriadPro-Regular.eot?') format('eot'),
    url('/fonts/MyriadPro-Regular.otf')  format('opentype'),
    url('/fonts/MyriadPro-Regular.woff') format('woff'),
    url('/fonts/MyriadPro-Regular.ttf')  format('truetype'),
    url('/fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

@font-face {
    font-family: 'MyriadPro-Light';
    src: url('/fonts/MyriadPro-Light.eot?') format('eot'),
    url('/fonts/MyriadPro-Light.otf')  format('opentype'),
    url('/fonts/MyriadPro-Light.woff') format('woff'),
    url('/fonts/MyriadPro-Light.ttf')  format('truetype'),
    url('/fonts/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
}

@font-face {
    font-family: 'MyriadPro-It';
    src: url('/fonts/MyriadPro-It.eot?') format('eot'),
    url('/fonts/MyriadPro-It.otf')  format('opentype'),
    url('/fonts/MyriadPro-It.woff') format('woff'),
    url('/fonts/MyriadPro-It.ttf')  format('truetype'),
    url('/fonts/MyriadPro-It.svg#MyriadPro-It') format('svg');
}

.navbar .navbar-inner .container {
    border-bottom: solid 1px #a5a5a5;
}

h1, h2, h3 {
    font-family: MyriadPro-Light, Calibri, sans-serif;
    line-height: 30px;
}

h1 {
    font-size: 36pt;
    color: #e9322d;
    line-height: 40pt;
    font-weight: lighter;
}

.news a {
    color: #666666;
}

.news h2 {
    margin-bottom: 2%;
}

body {
    font-family: MyriadPro-Regular, Calibri, sans-serif;
    font-size: 12pt;
    background-color: #ffffff;
}

a:hover {
   text-decoration: no-underline;
    text-decoration: none;
}

.navbar .nav {
    padding-top: 5px;
}

.navbar-inverse .navbar-inner{
    background-color: #ffffff !important;
}


/*.navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff!important;
    background-image: none!important;
    border-bottom: none!important;
    box-shadow: none!important;
    color: #666666;
    text-shadow: none !important;
    text-decoration: none!important;

}

.navbar-inner a:hover{
    color: #4e4e4e!important;
}*/


header .container {
    border-bottom: 1px solid #666;
}


h1 {
    vertical-align: middle;
    margin-top:6%;
    font-size: 48pt;
    font-style: normal;
    text-align: left;
}

.texthead {

    opacity: 1;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(40px);

}

.texthead{

    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -o-transform: translateX(20px);
    opacity: 1;
    transform: translateX(20px);
}

h2 {
    font-size: 36pt;
}

h3 {
    margin-top: 3%;
   }
p {
    margin-top: -2%;
}

footer {
    background-color: #62b321;
    color: #fff;
    text-align: left;
    position: relative;
    bottom: 0;
}

.footer {
    padding-left: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #62b321;
    color: #fff;
    text-align: left;
    position: relative;
    bottom: 0;
}

.footer a {
    color: #fff;

}

footer ul {
    margin: 0 0 10px 15px;
    padding: 0;
}

header {
    background-color: #fff;
    padding-bottom: 3%;
}


.new {
    margin-top: 4%;
}

.new h2 {
    margin-top: 5%;
}

.iconint {
    margin: 6%;
}


figure img{
    width: 100%;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

figure img:hover {
    -webkit-transform: scale(1.1) translateZ(0);
    -moz-transform: scale(1.1) translateZ(0);
    -o-transform: scale(1.1) translateZ(0);
    transform: scale(1.1) translateZ(0);
    width: 200%;
    height: auto;
}


/*------------------------------------------------------------------*/

/*figcaption {*/
    /*color: #8b8b8b;*/
    /*text-align: center;*/
    /*opacity: 0;*/
    /*-webkit-transition: .2s ease-in-out opacity;*/
    /*-moz-transition: .2s ease-in-out opacity;*/
    /*-o-transition: .2s ease-in-out opacity;*/
    /*transition: .2s ease-in-out opacity;*/
    /*transform: translateY(20px);*/
/*}*/

/*figure:hover figcaption {*/
    /*color: #8b8b8b;*/
    /*opacity: 1;*/
    /*transform: translateY(20px);*/
/*}*/

figcaption {
    color: #8b8b8b;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(40px);
}

figure:hover figcaption {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -o-transform: translateY(20px);
    color: #8b8b8b;
    opacity: 1;
    transform: translateY(20px);
}

/*---------------------------------------*/

.texthead {
    color: #62b321;

}

.logo {
    margin: 10%;
}

footer {
    /*margin-top: 10%;*/
    padding-left: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #62b321;
    color: #fff;
}

.myfooter {
    background-color: #ffffff;
    padding-bottom: 2%;
    padding-top: 2%;
}

#facultades{
    margin-top: 2%;
    margin-bottom: 10%;
}

ul.uprlinks { list-style-image: url("../images/ulimage.png");
}

.myfooter p{
    color: #8b8b8b;
    font-size: 10pt;
    line-height: 11pt;
}

.myfooter h3{
    font-size: 16pt;
    color: #8b8b8b;
}

ul li.linedli a {
    color: #ffffff;
}

ul li.linedli a:hover {
    color: #ffffff;
    opacity: 0.7;
}
/*.row {*/
    /*margin-left: 0px;*/
/*}*/

.form-search {
    margin-top: 8px;
    margin-bottom: 0;
}

header .slogan {
    margin-top: 0;
    font-weight: lighter;

}
header h1 {
    color: #62b321;
    font-size: 48pt;
}

 /*RESPONSIVE CHANGES____________________________________________________*/
/* Large desktop */
@media (min-width: 980px) {

    #divanimado {
        margin-top: 3%;

    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    header #divanimado {
        margin-top: 1%;

    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    header h1, header h3 {
       text-align: center;
    }
    .iconint {
        margin: 22%;
    }

    .logo {
        margin: 22%;
    }

    .news {
        text-align: center;
        padding-top: 10%;
    }

    figure figcaption {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Landscape phones and down */
/*@media (max-width: 480px) { ... }*/