.navbar-inverse .navbar-inner {
	background-color: #459C15;
	background-image: none;
	background-repeat: none;
	border: 0px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #ffffff;
    text-shadow: none; /*0 -1px 0 rgba(0, 0, 0, 0.25);*/
    text-transform: uppercase;
}


.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #95c326;
    color: #FFFFFF;
}

.hero-unit h1, .hero-unit a {
    color: #7d7d7d;
}

.hero-unit p {
    color: #666;
}

.hero-unit a {
    font-weight: bold;
}

footer {
    background-color: #eaeaea;
}

header .logo {
    padding-bottom: 20px;
}

.thumbnails a {
    text-align: center;
    color: #7d7d7d;
    text-transform: uppercase;

}

.thumbnails a:hover {
    color: #459c15;
    text-decoration: none;
}

.thumbnails li, .thumbnails .span2 {
    margin-left: 0;
}

.span12 {
    padding-top: 30px;
}

li a figure {
    margin: 20px;
}

li a figure figcaption {
    margin-top: 15px;
}

.hero-unit h1 {
    color: #7d7d7d;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 10px;
}

.hero-unit article {
    line-height: 20px;
}