{% extends '::base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    {% stylesheets '@UPRedesIntranetBundle/Resources/public/css/bootstrap.css'
                   '@UPRedesIntranetBundle/Resources/public/css/main.css'
                   '@UPRedesIntranetBundle/Resources/public/css/animations.css'
                   filter='yui_css'
                   output='css/intranet.css'%}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="nav-collapse collapse">
                    {% set ul_class, li_class = 'nav', '' %}
                    {% include 'UPRedesIntranetBundle:Default:menu.html.twig' with { 'entities': categories  } %}
                    <div class="pull-right">
                        <form class="form-search" action="http://lupa.upr.edu.cu" method="get" target="_blank">
                            <input type="text" name="q" class="form-control" placeholder="Buscar (Lupa)">
                        </form>
                    </div>
                </div><!--/.nav-collapse -->

            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="row">
                {#<div class="span3">#}
                    {#<div class="logo slideDown">#}
                        {#<a href="http://intranet.upr.edu.cu" ><img src="{{ asset ('bundles/upredesintranet/images/ident.png') }}"></a>#}
                    {#</div>#}
                {#</div>#}
                {#<div id="divanimado" class="span8 offset1 slideDown">#}
                    {#<h1 class="texthead">Intranet <br> Universitaria</h1>#}
                {#</div>#}
                {% set banners = banners|merge(promoted) %}
                {% include 'UPRedesIntranetBundle:Default:header.html.twig' with { 'items': banners  } %}
            </div>
        </div>
    </header>

    <div class="content">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
        <div class="container">
            {% block footer %}{% endblock %}
        </div>
    </footer>

    <div class="myfooter">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <h3>Tiene Problemas?</h3>
                    <p>Si necesita aclarar alguna duda, plantearnos un problema o hacer una sugerencia escríbanos un email a di@upr.edu.cu</p>
                    <br>
                    <p>
                        Copyright &copy; {{ 'now' | date('Y') }} - Intranet UPR 4.0 <br />
                        Todos los derechos reservados. <a href="http://elnodo.upr.edu.cu" target="_blank">UPRedes</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@UPRedesIntranetBundle/Resources/public/js/jquery.js'
                   '@UPRedesIntranetBundle/Resources/public/js/modernizr.custom.90400.js'
                   '@UPRedesIntranetBundle/Resources/public/js/bootstrap.js'
                   '@UPRedesIntranetBundle/Resources/public/js/bootstrap-carousel.js'
                    filter='yui_js'
                    output='js/intranet.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% spaceless %}
        <script type="text/javascript">
            $(document).ready(function() {
                function filterPath(string) {
                    return string
                            .replace(/^\//,'')
                            .replace(/(index|default).[a-zA-Z]{3,4}$/,'')
                            .replace(/\/$/,'');
                }
                $('a[href*=#]').each(function() {
                    if ( filterPath(location.pathname) == filterPath(this.pathname)
                            && location.hostname == this.hostname
                            && this.hash.replace(/#/,'') ) {
                        var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) +']');
                        var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
                        if ($target) {
                            var targetOffset = $target.offset().top;
                            $(this).click(function() {
                                $('html, body').animate({scrollTop: targetOffset}, 1000);
                                var d = document.createElement("div");
                                d.style.height = "101%";
                                d.style.overflow = "hidden";
                                document.body.appendChild(d);
                                window.scrollTo(0,scrollToM);
                                setTimeout(function() {
                                    d.parentNode.removeChild(d);
                                }, 10);
                                return false;
                            });
                        }
                    }
                });
                $('.carousel').carousel({
                    interval: 8000
                })
            });
            /*! Smooth Scroll - v1.4.5 - 2012-07-22
             * Copyright (c) 2012 Karl Swedberg; Licensed MIT, GPL */
        </script>

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.upr.edu.cu/" : "http://stats.upr.edu.cu/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 8);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch( err ) {}
        </script><noscript><p><img src="http://stats.upr.edu.cu/piwik.php?idsite=8" style="border:0" alt="" /></p></noscript>
            <!-- End Piwik Tracking Code -->
    {% endspaceless %}
{% endblock %}