<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        {% for item in items %}
        <div class="item {% if loop.first %} active {% endif %}">
            <div class="span3">
                <div class="logo {% if loop.first %}slideDown{% endif %}">
                    <a href="{% if item.url %}{{ item.url }}{% else %}#{% endif %}">
                        {% media item.image, 'reference' %}
                    </a>
                </div>
            </div>
            <div id="divanimado" class="span8 offset1 {% if loop.first %} slideDown {% endif %}">
                <h1>{{ item.name }}</h1>
                <h3 class="slogan">{{ item.description }}</h3>
            </div>
        </div>
        {% endfor %}
    </div>
</div>