
<section class="hero-unit">
    <h1>NOTICIAS</h1>
    {% for feed in feeds %}
    <article>
        <header>
            <a href="{{ feed.link }}" target="_blank">{{ feed.title | capitalize }}</a>
            {#<time>{{ feed.pubDate | date('d/m/Y H:i') }}</time>#}
        </header>
        <p>{{ feed | striptags | truncate(300, true) }}</p>
    </article>
    {% else %}
    <p>No hay noticias para mostrar :(</p>
    {% endfor %}
</section>