
<section class="news row">
        <h2><a href="http://noticias.upr.edu.cu" target="_blank">Titulares</a></h2>
        {% include 'UPRedesIntranetBundle:Default:news.html.twig' with { 'feeds': nupr } %}
</section>