
<section class="hero-unit">
    <img src="{{ asset ('bundles/upredesintranet/images/tabnews.png') }}" class="tabnews">
    <div class="hero-content row-fluid">
        <h1>TITULARES</h1>

        <div class="span5">
            {% include 'UPRedesIntranetBundle:Default:news.html.twig' with { 'feeds': nupr } %}
        </div>

        <div class="span5">
            {% include 'UPRedesIntranetBundle:Default:news.html.twig' with { 'feeds': npinux } %}
        </div>

    </div>
</section>