{% extends '::frontend.html.twig' %}
{% block content %}

    {% embed 'UPRedesIntranetBundle:Default:heroNews.html.twig' with {'nupr': nupr} %}
    {% endembed %}
    {% for category in categories %}
        {% if loop.index > 1 %}
            <div class="row" id="{{ category.slug }}">
                {% render(controller("UPRedesIntranetBundle:Category:show", { 'id': category.id  })) %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}