{% extends '::frontend.html.twig' %}
{% block content %}

    {% include 'UPRedesIntranetBundle:Default:heroNews.html.twig' with {'feeds': feeds} %}

    {% for category in categories %}
        {% if loop.index > 1 %}
        <div class="row-fluid">
            <div class="span12 offset1" id="{{ category.name }}">
                {% render "UPRedesIntranetBundle:Category:show" with { 'id': category.id  } %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}