<ul class="thumbnails">
{% for entity in entities %}

    <li class="span2">
        <a href="{{ entity.url }}" target="_blank">
            <figure>
                {% thumbnail entity.image, 'small' %}
                <figcaption>{{ entity.name }}</figcaption>
            </figure>
        </a>
    </li>

{% endfor %}
</ul>